logs
project/project
project/target
bin
target
tmp
.history
.sbtserver
.sbtserver.*
dist
/.idea
/*.iml
/out
/.idea_modules
.classpath
.project
/RUNNING_PID
.settings
/project/*-shim.sbt
/activator-sbt-*-shim.sbt
*.iml
OutputFolderPromedmail/
.DS_Store
.cache-main
.cache-tests
.pydevproject
