@(title: String)
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>@title</title>
  <link rel="stylesheet" media="screen" href='@routes.Assets.versioned("lib/bootstrap/css/bootstrap.css")'>
  <link rel="stylesheet" media="screen" href='@routes.Assets.versioned("lib/angular-dashboard-framework/dist/angular-dashboard-framework.min.css")'>
  <link rel="stylesheet" media="screen" href='@routes.Assets.versioned("javascripts/lib/adf-widget-iframe-0.1.2/dist/adf-widget-iframe.min.css")'>
  <link rel="stylesheet" media="screen" href='@routes.Assets.versioned("lib/dc.js/dc.min.css")'>
  <link rel="stylesheet" media="screen" href='@routes.Assets.versioned("lib/bootstrap/css/bootstrap.css")'>
  <link rel="stylesheet" media="screen" href='@routes.Assets.versioned("lib/leaflet/leaflet.css")'>


  <script src='@routes.Assets.versioned("lib/angularjs/angular.min.js")'></script>
  <script type='text/javascript' src='@routes.Assets.versioned("lib/leaflet/leaflet.js")'></script>
  <script type='text/javascript' src='@routes.Assets.versioned("lib/angular-leaflet-directive/angular-leaflet-directive.js")'></script>
  <script type='text/javascript' src='@routes.Assets.versioned("lib/jquery/jquery.min.js")'></script>
  <script type='text/javascript' src='@routes.Assets.versioned("lib/d3/d3.min.js")'></script>
  <script type='text/javascript' src='@routes.Assets.versioned("lib/crossfilter/crossfilter.min.js")'></script>
  <script type='text/javascript' src='@routes.Assets.versioned("lib/dc.js/dc.min.js")'></script>
  <script src='@routes.Assets.versioned("javascripts/lib/dc.leaflet.js")'></script>
  <script type='text/javascript' src='@routes.Assets.versioned("javascripts/dashboard/controllers.js")'></script>
  <script src='@routes.Assets.versioned("javascripts/dashboard.js")'></script>

  <style>
    #map {
      border: 1px solid black;
      border-radius: 8px;
    }
  </style>

</head>
<body ng-app="dashboard" ng-controller="dashboardCtrl">
  <div class = "container-fluid">
    <div class="row">
      <h1>Cloudberry Example Dashboard</h1>
    </div>
    <div class="row">
      <map id="map" config="mapConf" class="col-md-6" style="height: 350px"></map>
      <row-chart id="rowchart" config="rowchartConf" class="col-md-6"></row-chart>
    </div>
    <div class="row">
      <pie-chart id="piechart" config="piechartConf" class="col-md-2"></pie-chart>
      <pie-chart id="piechart" config="piechartConf" class="col-md-2"></pie-chart>
      <pie-chart id="piechart" config="piechartConf" class="col-md-2"></pie-chart>
      <line-chart id = "linechart" config="linechartConf" class="col-md-6"></line-chart>
    </div>
  </div>
</body>
</html>