@(title: String)
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>@title</title>
  <link rel="stylesheet" media="screen" href='@routes.Assets.versioned("lib/bootstrap/css/bootstrap.css")'>
  <link rel="stylesheet" media="screen" href='@routes.Assets.versioned("lib/angular-dashboard-framework/dist/angular-dashboard-framework.min.css")'>
  <link rel="stylesheet" media="screen" href='@routes.Assets.versioned("javascripts/lib/adf-widget-iframe-0.1.2/dist/adf-widget-iframe.min.css")'>

  <script src='@routes.Assets.versioned("lib/angularjs/angular.min.js")'></script>
  <script src='@routes.Assets.versioned("lib/Sortable/Sortable.js")'></script>
  <script src='@routes.Assets.versioned("lib/angular-bootstrap/ui-bootstrap.js")'></script>
  <script src='@routes.Assets.versioned("lib/angular-bootstrap/ui-bootstrap-tpls.js")'></script>
  <script src='@routes.Assets.versioned("lib/angular-dashboard-framework/dist/angular-dashboard-framework.js")'></script>
  <script src='@routes.Assets.versioned("lib/angular-dashboard-framework/dist/angular-dashboard-framework.js")'></script>
  <script src='@routes.Assets.versioned("javascripts/lib/adf-structures-base-0.1.1/dist/adf-structures-base.min.js")'></script>
  <script src='@routes.Assets.versioned("javascripts/lib/adf-widget-iframe-0.1.2/dist/adf-widget-iframe.min.js")'></script>
  <script src='@routes.Assets.versioned("javascripts/dashboard.js")'></script>

</head>
<body ng-app="dashboard">
  <adf-dashboard name="mydashboard" collapsible="true" structure="6-6" adf-model="model" />
</body>
</html>