@(title: String)

<!DOCTYPE html>
<html ng-app="cloudberry">

<head>
  <title>@title</title>
  <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='shortcut icon' type='image/png' href='@routes.Assets.versioned("images/hyrax.png")'>

  <link rel="stylesheet" media="screen" href='@routes.Assets.versioned("lib/bootstrap/css/bootstrap.css")'>

  <script src='@routes.Assets.versioned("lib/angularjs/angular.min.js")'></script>

  <script type='text/javascript' src='@routes.Assets.versioned("javascripts/common/services.js")'></script>
  <script type='text/javascript'>
    var app = angular.module('cloudberry', ['cloudberry.common']);

    app.controller('SearchCtrl', function($scope, $window, Asterix) {
      $scope.init = function() {
        $scope.time = Asterix.parameters.time;
        $scope.area = Asterix.parameters.area;
        $scope.level = Asterix.parameters.level;
      };
      $scope.search = function() {
        if ($scope.dataset)
          Asterix.parameters.dataset = $scope.dataset;
        if ($scope.keyword)
          Asterix.parameters.keyword = $scope.keyword;
        if ($scope.area)
          Asterix.parameters.area = $scope.area;
        if ($scope.time)
          Asterix.parameters.time = $scope.time;
        if ($scope.level)
          Asterix.parameters.level = $scope.level;
        Asterix.query(Asterix.parameters);
      };
    });

    app.controller('MapCtrl', function($scope, $window, $http, $compile, Asterix) {
      $scope.result = {};
      // map setting
      $scope.$watch(
        function() {
          return Asterix.mapResult;
        },

        function(newResult) {
          $scope.result = newResult;
        }
      );
    });

    app.controller('TimeCtrl', function($scope, $window, Asterix) {
      $scope.result = {};
      $scope.$watch(
        function() {
          return Asterix.timeResult;
        },

        function(newResult) {
          $scope.result = newResult;
        }
      );
    });

    app.controller('HashTagCtrl', function($scope, $window, Asterix) {
      $scope.result = {};
      $scope.$watch(
        function() {
          return Asterix.hashTagResult;
        },

        function(newResult) {
          $scope.result = newResult;
        }
      );
    });

    app.controller('ExceptionCtrl', function($scope, $window, Asterix) {
      $scope.$watch(
        function() {
          return Asterix.errorMessage;
        },

        function(newMsg) {
          if (newMsg)
            $window.alert(newMsg);
          Asterix.errorMessage = null;
        }
      );
    });
  </script>
</head>

<body>
  <div class="container" xmlns="http://www.w3.org/1999/html">
    <div class="container" id='input' ng-controller="SearchCtrl">
      <form class="form-horizontal" ng-submit="search()" ng-init="init()">
        <div class="control-group">
          <label class="control-label">Keywords</label>
          <div class="controls">
            <input type="text" ng-model="keyword"/>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">TimeRange</label>
          <div class="controls">
            <input type="date" ng-model="time.start" />
            <input type="date" ng-model="time.end" />
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Area</label>
          <div class="controls">
            <label>leftBottom</label>
            <br>
            <label>Latitude</label>
            <input ng-pattern='/^\-?\d+((\.|\,)\d+)?$/' ng-model="area.swLat" placeholder="left bottom latitude" />
            <label>Longitude</label>
            <input ng-pattern='/^\-?\d+((\.|\,)\d+)?$/' ng-model="area.swLog" placeholder="left bottom longitude" />
            <br/>
            <label>rightTop</label>
            <br/>
            <label>Latitude</label>
            <input ng-pattern='/^\-?\d+((\.|\,)\d+)?$/' ng-model="area.neLat" placeholder="right top latitude" />
            <label>Longitude</label>
            <input ng-pattern='/^\-?\d+((\.|\,)\d+)?$/' ng-model="area.neLog" placeholder="right top longitude" />
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Level</label>
          <div class="controls" ng-init='level="state"'>
            <label class="col-xs-2">
              <input type="radio" ng-model="level" value="state"> State</label>
            <label class="col-xs-2">
              <input type="radio" ng-model="level" value="county"> County </label>
            <label class="col-xs-2">
              <input type="radio" ng-model="level" value="city"> City</label>
          </div>
        </div>
        <button type="submit" class="btn btn-primary" id="submit-button">Submit</button>
      </form>
    </div>


    <div id="Map" ng-controller="MapCtrl" ng-init="init()">
      <leaflet lf-center="center" tiles="tiles" events="events" controls="controls" width="100%" height="480px"></leaflet>
    </div>
    <div class="container col-sm-4" ng-controller="MapCtrl">
      SpatialAggregation:
      <ul>
        <li ng-repeat="r in result">{{r.key}}: {{r.count}}</li>
      </ul>
    </div>

    <div class="container col-sm-4" ng-controller="TimeCtrl">
      TimeAggregation:
      <ul>
        <li ng-repeat="r in result">{{r.key}}: {{r.count}}</li>
      </ul>
    </div>

    <div class="container col-sm-4" ng-controller="HashTagCtrl">
      HashTags:
      <ul>
        <li ng-repeat="r in result">{{r.key}}: {{r.count}}</li>
      </ul>
    </div>

    <!--<div ng-controller="ExceptionCtrl">-->
    <!--</div>-->

  </div>
</body>

</html>
