@(title: String) @main(title){
<div xmlns="http://www.w3.org/1999/html" ng-controller="AppCtrl">

  <map lat="39.5" lng="-96.35" zoom="4"></map>

  <search-bar></search-bar>

  <time-series id="chart"></time-series>

  <div id='sidebar' ng-init="click = -1" ng-class="{toggled: click === 1}" ng-click="click = click*-1">
    <div class="col-xs-2">
      <ul class="nav nav-tabs tabs-left" ng-init="tab=1">
        <li role="presentation" class="active"><a href="#hashtag" ng-click="tab=1"><i class="fa fa-hashtag fa-2x" aria-hidden="true"></i></a></li>
        <li role="presentation"><a href="#tweet" ng-click="tab=2"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a></li>
      </ul>
    </div>
    <div class="col-xs-10">
      <div class="tab-content">
        <hashtag id="hashtag" ng-show="tab === 1"></hashtag>
      </div>
    </div>
  </div>

  <exception-bar></exception-bar>

</div>
}
