@(title: String)(body: Html)

<!DOCTYPE html>
<html ng-app="cloudberry">

<head>
  <title>@title</title>
  <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='shortcut icon' type='image/png' href='@routes.Assets.versioned("images/hyrax.png")'>

  <link rel="stylesheet" media="screen" href='@routes.Assets.versioned("lib/bootstrap/css/bootstrap.css")'>

  <script src='@routes.Assets.versioned("lib/angularjs/angular.min.js")'></script>

  <link rel="stylesheet" media="screen" href='@routes.Assets.versioned("lib/leaflet/leaflet.css")'>
  <link rel="stylesheet" media="screen" href='@routes.Assets.versioned("lib/dc.js/dc.min.css")'>
  <link rel="stylesheet" media="screen" href='@routes.Assets.versioned("lib/font-awesome/css/font-awesome.min.css")'>
  <link rel="stylesheet" media="screen" href='@routes.Assets.versioned("lib/bootstrap-vertical-tabs/bootstrap.vertical-tabs.min.css")'>
  <link rel='stylesheet' href='@routes.Assets.versioned("stylesheets/main.css")'>

  <script type='text/javascript' src='@routes.Assets.versioned("lib/json-bigint/dist/json-bigint.js")'></script>
  <script type='text/javascript' src='@routes.Assets.versioned("lib/leaflet/leaflet.js")'></script>
  <script type='text/javascript' src='@routes.Assets.versioned("lib/angular-leaflet-directive/angular-leaflet-directive.js")'></script>
  <script type='text/javascript' src='@routes.Assets.versioned("lib/jquery/jquery.min.js")'></script>
  <script type='text/javascript' src='@routes.Assets.versioned("lib/d3/d3.min.js")'></script>
  <script type='text/javascript' src='@routes.Assets.versioned("lib/crossfilter/crossfilter.min.js")'></script>
  <script type='text/javascript' src='@routes.Assets.versioned("lib/dc.js/dc.min.js")'></script>
  <script type='text/javascript' src='@routes.Assets.versioned("lib/bootstrap/js/bootstrap.min.js")'></script>


  <script type='text/javascript' src='@routes.Assets.versioned("javascripts/app.js")'></script>
  <script type='text/javascript' src='@routes.Assets.versioned("javascripts/map/controllers.js")'></script>
  <script type='text/javascript' src='@routes.Assets.versioned("javascripts/common/services.js")'></script>
  <script type='text/javascript' src='@routes.Assets.versioned("javascripts/timeseries/controllers.js")'></script>
  <script type='text/javascript' src='@routes.Assets.versioned("javascripts/sidebar/controllers.js")'></script>
  <script type='text/javascript' src='@routes.Assets.versioned("javascripts/searchbar/controllers.js")'></script>

</head>

<body>
@body
</body>
</html>
