@import play.api.libs.json.JsValue
@import play.api.libs.json.Json
@(datasets: Seq[JsValue], form: Form[Cloudberry.RegisterForm])(implicit messages: play.api.i18n.Messages)

@import views.html.textarea

@main("Cloudberry Admin") {
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">Cloudberry Web Console</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a data-toggle="tab" href="#metadata">Metadata</a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#query">Query</a>
                    </li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
    <div class="tab-content">
        <div id="metadata" class="tab-pane fade in active">
            <h3>Registered Datasets</h3>
            <div class="list-group">
            @for(d <- datasets) {
                <li class="list-group-item">
                    <pre class="prettyprint">@{
                        Json.prettyPrint(d)
                    }</pre>
                </li>
            }
            </div>

            <hr/>

            <div class="well">
            @helper.form(routes.Cloudberry.webRegister(), 'class -> "form-horizontal") {

                @textarea(form("RegisterJSONString"), rows = "10", label = "Register Dataset JSON", placeholder = "copy DDL json to here")

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button id="submit" type="submit" value="Submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            }
            </div>
        </div>
        <div id="query" class="tab-pane fade">
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-5"><h3>Query</h3></div>
                <div class="col-sm-5"><h3>Output</h3></div>
                <div class="col-sm-1"></div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-5">
                    <form id="query-form">
                        <div class="form-group">
                            <textarea rows="20" id="query-text" placeholder="Type your query ..." style="width:90%;"></textarea>
                        </div>
                        <button id="submit-query" type="submit" value="Submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
                <div class="col-sm-5">
                    <div id="response">
                        <pre class="prettyprint"></pre>
                    </div>
                </div>
                <div class="col-sm-1"></div>
            </div>
            <script>
                var queryStart = 0;
                var querySent = 0;

                var url = "ws://" + location.host + "/ws";

                console.log("connecting to [" + url + "] ...");
                $('#response pre').html("<h6>connecting to [" + url + "] ...</h6>");

                var ws = new WebSocket(url);

                ws.onopen = function () {
                    console.log("connecting to [" + url + "] succeed!");
                    $('#response pre').html("<h6>[Good!] Connection is ready!</h6>");
                };

                ws.onerror = function (err) {
                    console.log("connecting to [" + url + "] fail!");
                    console.log(err);
                    $('#response pre').html("<h6>[Sorry!] Connection broken! Please refresh this page!</h6><p>" + err + "</p>");
                };

                ws.onmessage = function (event) {

                    var d = new Date();
                    var queryTime = (d.getTime() - queryStart) / 1000;
                    var queryTotalTime = (d.getTime() - querySent) / 1000;

                    var result = JSON.parse(event.data);

                    console.log("result received:");
                    console.log(JSON.stringify(result));

                    var show_data = "";
                    var length = 0;

                    if (result.value.key === "done") {
                        length = 1;
                        show_data = JSON.stringify(result.value, null, 4);
                    }
                    else {
                        show_data = "[";
                        var data = result.value[0];
                        length = data.length;
                        if (length === 1) {
                            show_data += JSON.stringify(data[0], null, 4);
                        }
                        else {
                            for (var i = 0; i < Math.min(5, length); i++) {
                                if (i > 0) show_data += ",\n";
                                show_data += JSON.stringify(data[i]);
                            }
                            if (length > 5) {
                                show_data += "\n... ...";
                            }
                        }
                        show_data += "]";

                        queryStart = d.getTime();
                    }

                    $('#response').append("<h6>[Result] received ("
                            + length.toString() + "), mini query time: " + queryTime.toFixed(2) + " s, total query time: "
                            + queryTotalTime.toFixed(2) + " s:</h6><pre class=\"prettyprint\">" + show_data + "</pre>");
                };

                (function($){
                    function processForm(e){
                        if (ws.readyState !== ws.OPEN) {
                            console.log("connecting to [" + url + "] ... ... not finished yet, please wait.");
                            $('#response pre').append("<h6>[Opps!] Still connecting to Cloudberry, please wait! Thanks!</h6>");
                            return false;
                        }

                        var query = JSON.parse($('#query-text').val());

                        // Add "transform" attribute to the query JSON
                        // to make sure the result is always wrapped inside "value" key
                        if (!query.hasOwnProperty('transform')) {
                            query["transform"] = {
                                wrap: {
                                    id: "web-console",
                                    category: "web-console"
                                }
                            };
                        }

                        query = JSON.stringify(query);

                        // special manipulation for query based on id
                        // change id from string to int64
                        query = query.replace(/"(\d+)"/,"[$1]");

                        console.log("query = " + query);

                        ws.send(query);

                        var d = new Date();
                        queryStart = d.getTime();
                        querySent = queryStart;

                        console.log("query sent!");

                        $('#response').html("<pre class=\"prettyprint\"><h6>[Query] sent ...</h6></pre>");

                        e.preventDefault();
                    }

                    $('#query-form').submit(processForm);
                })(jQuery);
            </script>
        </div>
    </div>


}
