@(title: String)

<!DOCTYPE html>
<html ng-app="cloudberry">

<head>
  <title>@title</title>
  <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='shortcut icon' type='image/png' href='@routes.Assets.versioned("images/hyrax.png")'>

  <link rel="stylesheet" media="screen" href='@routes.Assets.versioned("lib/bootstrap/css/bootstrap.css")'>

  <script src='@routes.Assets.versioned("lib/angularjs/angular.min.js")'></script>

  <script type='text/javascript' src='@routes.Assets.versioned("javascripts/common/services.js")'></script>
  <script type='text/javascript'>
    var app = angular.module('cloudberry', ['cloudberry.common']);

    app.controller('SearchCtrl', function($scope, $window, Asterix) {
      $scope.init = function() {
        $scope.dataset = Asterix.parameters.dataset;
        $scope.timeInterval = Asterix.parameters.timeInterval;
        $scope.geoLevel = Asterix.parameters.geoLevel;
      };
      $scope.search = function() {
        if ($scope.dataset)
          Asterix.parameters.dataset = $scope.dataset;
        if ($scope.keywords)
          Asterix.parameters.keywords = $scope.keywords.trim().split(/\s+/);
        if ($scope.timeInterval)
          Asterix.parameters.timeInterval = $scope.timeInterval;
        if ($scope.geoLevel)
          Asterix.parameters.geoLevel = $scope.geoLevel;
        Asterix.query(Asterix.parameters);
      };
    });

    app.controller('MapCtrl', function($scope, $window, $http, $compile, Asterix) {
      $scope.result = {};
      // map setting
      $scope.$watch(
        function() {
          return Asterix.mapResult;
        },

        function(newResult) {
          $scope.result = newResult;
        }
      );
    });

    app.controller('TimeCtrl', function($scope, $window, Asterix) {
      $scope.result = {};
      $scope.$watch(
        function() {
          return Asterix.timeResult;
        },

        function(newResult) {
          $scope.result = newResult;
        }
      );
    });

    app.controller('HashTagCtrl', function($scope, $window, Asterix) {
      $scope.result = {};
      $scope.$watch(
        function() {
          return Asterix.hashTagResult;
        },

        function(newResult) {
          $scope.result = newResult;
        }
      );
    });

    app.controller('ExceptionCtrl', function($scope, $window, Asterix) {
      $scope.$watch(
        function() {
          return Asterix.errorMessage;
        },

        function(newMsg) {
          if (newMsg)
            $window.alert(newMsg);
          Asterix.errorMessage = null;
        }
      );
    });
  </script>
</head>

<body>
  <div class="container" xmlns="http://www.w3.org/1999/html">
    <div class="container" id='input' ng-controller="SearchCtrl">
      <form class="form-horizontal" ng-submit="search()" ng-init="init()">
        <div class="control-group">
          <label class="control-label">Keywords</label>
          <div class="controls">
            <input type="text" ng-model="keywords"/>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">TimeInterval</label>
          <div class="controls">
            <input type="date" ng-model="timeInterval.start" />
            <input type="date" ng-model="timeInterval.end" />
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">GeoLevel</label>
          <div class="controls" ng-init='geoLevel="state"'>
            <label class="col-xs-2">
              <input type="radio" ng-model="geoLevel" value="state"> State</label>
            <label class="col-xs-2">
              <input type="radio" ng-model="geoLevel" value="county"> County </label>
            <label class="col-xs-2">
              <input type="radio" ng-model="geoLevel" value="city"> City</label>
          </div>
        </div>
        <button type="submit" class="btn btn-primary" id="submit-button">Submit</button>
      </form>
    </div>


    <div class="container col-sm-4" ng-controller="MapCtrl">
      SpatialAggregation:
      <ul>
        <li ng-repeat="r in result">{{r.state}}: {{r.count}}</li>
      </ul>
    </div>

    <div class="container col-sm-4" ng-controller="TimeCtrl">
      TimeAggregation:
      <ul>
        <li ng-repeat="r in result">{{r.day}}: {{r.count}}</li>
      </ul>
    </div>

    <div class="container col-sm-4" ng-controller="HashTagCtrl">
      HashTags:
      <ul>
        <li ng-repeat="r in result">{{r.tag}}: {{r.count}}</li>
      </ul>
    </div>

    <!--<div ng-controller="ExceptionCtrl">-->
    <!--</div>-->

  </div>
</body>

</html>
