@()


@defining(play.core.PlayVersion.current) { version =>

<html>
<title>Reply Tweets Deck.GL</title>
<style type="text/css">
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  text-align:center;
}
#container {
  width: 100%;
  height: 100%;
}

</style>

<body>

<br><br><br><br>
<p id="content">Reply Tweets Dataset</p>
<br><br>
<input type="text" class="div" style="width: 45%" id="query"
       placeholder="Search keywords e.g hurricane">
<button onclick="drawGraph()">submit</button>


<div id="container"></div>
<script src="/assets/javascripts/deckgl.min.js"></script>
<script src='/assets/javascripts/mapbox-gl.js'></script>
<link href='/assets/stylesheets/mapbox-gl.css' rel='stylesheet' />
<script>
var query = "";
function drawGraph(){
  query = document.getElementById("query").value;
  document.getElementById('container').innerHTML = "";
  var request = new XMLHttpRequest();
  request.open('GET', 'http://localhost:9000/replies?query='+query, false);//for blocking
  request.send(null);
  if (request.status === 200) {
    var data = JSON.parse(request.responseText);

  new deck.DeckGL({
      container: document.getElementById('container'),
      longitude: 20,
      latitude: 10,
      zoom: 1,
      maxZoom: 50,
      pitch: 0,
      bearing: 0, //turn the graph to specific angle
      layers: [
      new deck.ArcLayer({
        id: 'arc',
        pickable: true,
        data: data,
        getSourcePosition: d => d.source,
        getTargetPosition: d => d.target,
        getSourceColor: [12, 44, 132],
        getTargetColor: [177, 0, 38],
        gettrokeWidth: 3
      })
    ]
  });
}
}



</script>

</body>

</html>

}