@()



@defining(play.core.PlayVersion.current) { version =>

    <html>

        <title>Reply Tweets Deck.GL</title>
        <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />

        <body style="line-height: 0;">
            <div id="map" style="width: 100vw;
                height: 100vh"></div>
            <div id="search">
                <div class="row"></div>
                <div class="row">
                    <div class="col-sm-1"></div>
                    <input type="text" style="width: 40%"
                    class="form-control col-sm-4 ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required"
                    id="keyword-textbox" placeholder="Search keywords e.g hurricane">
                    <div class="col-sm-1" style="padding: 0 5px 0 15px">
                        <div class="form-check" style="margin: 10px 0 0 0">
                            <input type="checkbox" class="form-check-input" id="edge" onchange="statusChange('edge')">
                            <label class="form-check-label" for="edge" >Edge</label>
                        </div>
                    </div>
                    <div class="col-sm-1" style="padding: 0 5px">
                        <div class="form-check" style="margin: 10px 0 0 0">
                            <input type="checkbox" class="form-check-input" id="bundle" onchange="statusChange('bundle')">
                            <label class="form-check-label" for="bundle" >Bundle</label>
                        </div>
                    </div>
                    <div class="col-sm-1" style="padding: 0 5px">
                        <div class="form-check" style="margin: 10px 0 0 0">
                            <input type="checkbox" class="form-check-input" id="point" onchange="statusChange('point')" checked>
                            <label class="form-check-label" for="point" >Point</label>
                        </div>
                    </div>
                    <div class="col-sm-1" style="padding: 0 5px">
                        <div class="form-check" style="margin: 10px 0 0 0">
                            <input type="checkbox" class="form-check-input" id="cluster" onchange="statusChange('cluster')" checked>
                            <label class="form-check-label" for="cluster" >Cluster</label>
                        </div>
                    </div>
                    <div class="col-sm-1" style="padding: 0 5px">
                        <div class="form-check" style="margin: 10px 0 0 0">
                            <input type="checkbox" class="form-check-input" id="tree_cut" onchange="statusChange('tree_cut')" checked>
                            <label class="form-check-label" for="tree_cut" >Tree cut</label>
                        </div>
                    </div>
                    <div class="col-sm-1">
                        <button type="submit" onclick="drawGraph()" class=" btn btn-primary" id="submit-button">
                            Show</button>
                    </div>
                </div>
            </div>
            <div id="stats">
                <div class="bottomleft">
                    <p id="repliesCnt">Reply Tweets Count: 0 / 15722639</p>
                    <p id="pointsCnt">Points Count: 0</p>
                    <p id="clustersCnt">Clusters Count: 0</p>
                    <p id="edgesCnt">Edges Count: 0</p>
                    <p id="bundledEdgesCnt">Bundled Edges Count: 0</p>
                    <form>
                        Clustering Algorithm:
                        <select id="clusteringAlgorithm" onchange="drawGraph()">
                            <option value="HGC">HGC</option>
                            <option value="I-KMeans">I-KMeans</option>
                            <option value="KMeans">KMeans</option>
                        </select>
                    </form>
                    <form>
                        Bundling Algorithm:
                        <select id="bundlingAlgo">
                            <option value="FDEB">FDEB</option>
                        </select>
                    </form>
                </div>
            </div>
        </body>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <link href='assets/lib/bootstrap/css/bootstrap.css' rel='stylesheet' />
        <script src="https://unpkg.com/deck.gl@@7.1.10/dist.min.js"></script>
        <script src="https://api.tiles.mapbox.com/mapbox-gl-js/v1.0.0/mapbox-gl.js"></script>
        <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.0.0/mapbox-gl.css' rel='stylesheet' />
        <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/style.css")">
        <script src="@routes.Assets.versioned("javascripts/logic.js")"></script>

    </html>

}