
@import controllers.TwitterMapApplication.DBType
@(title: String, TMAobject: TwitterMapApplication, isDrugMap: Boolean) @main(title, TMAobject, isDrugMap){
<div xmlns="http://www.w3.org/1999/html" ng-controller="AppCtrl">

  <div class="map-group">
    <alert-bar></alert-bar>

    <map lat="39.5" lng="-96.35" zoom="4"></map>

    <div id="logo">
    </div>
    
    <div id ='powerby'>
      <div class="btn btn-info btn-xs">
        <a href="http://cloudberry.ics.uci.edu/" title="A Distributed middleware by ICS,UCI" class="white"> Cloudberry</a>
          |
        <a href="https://www.youtube.com/watch?v=XwlRm0jcsU4" class="white">Video</a> 
      </div>
   </div>

    
   </div>

   <search-bar></search-bar>
   <predefined-keywords></predefined-keywords>



  <div class="stats">
    <time-series id="chart"></time-series>
  </div>

  <div id='sidebar' ng-init="click = -1" ng-class="{toggled: click === 1}" >
    <div class = "col-xs-2">
      <ul class="nav nav-tabs tabs-left">
        <li role="presentation" ng-click="click = 1"><a href="#hashtag" data-toggle="tab"><i class="fa fa-hashtag fa-2x" aria-hidden="true"></i></a></li>
        <li role="presentation" ng-click="click = 1"><a href="#tweet" data-toggle="tab"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a></li>
        <li role="presentation" ng-click="click = 1" class="active"><a href="#about" data-toggle="tab"><i class="fa fa-info-circle fa-2x"></i></a></li>
        <li role="presentation" ng-click="click = click*-1"><i ng-class="click ===-1 ? 'fa fa-chevron-left fa-2x': 'fa fa-chevron-right fa-2x'"></i></li>
        <li><br/></li>
        <mapchoose>
          <li role="presentation"><img id="img1" name="img1" title="Count Map" src="/assets/images/aggregation_map.png" width="63" height="63" ></li><br/>
          <li role="presentation"><img id="img2" name="img2" title="Heat Map" src="/assets/images/heat_map_no_border.png" width="63" height="63" ></li><br/>
          <li role="presentation"><img id="img3" name="img3" title="Pin Map" src="/assets/images/point_map_no_border.png" width="63" height="63"></li>
        </mapchoose>
      </ul>
    </div>
    <div class="col-xs-10">
      <div class="tab-content">
        <hashtag id="hashtag" class="tab-pane"></hashtag>
        <tweet id="tweet" class="tab-pane"></tweet>
        <div id="about" class="tab-pane active">
          <h1> About </h1>
          <p><b>Cloudberry</b> is a research prototype to support interactive analytics and visualization of large amounts of spatial-temporal data. </p>
          <p> Basic Information: </p>
          <ul>
            <li>Data set: Tweets</li>
            <li>Number of records: > 500,000,000 </li>
            <li>Collection period: From 2015-11-23 </li>
            <li>Total data size: > 500G bytes</li>
            <li>The live tweets is appending to db at the speed of ~30 tweets/sec </li>
            <li><a href="https://github.com/ISG-ICS/cloudberry">Source code</a></li>
          </ul>
          <p>The backend is running the big data management system <b><a href="http://asterixdb.apache.org/">Apache AsterixDB</a></b>
          to support large compute clusters. Here is the small NUC cluster where the server runs! </p>
          <img src='@routes.Assets.versioned("images/nuc.cluster.jpg")' width="256" height="192"><br>
          <p>For questions and comments, please contact <b>
              <a href="mailto:&#105;&#099;&#115;&#045;&#099;&#108;&#111;&#117;&#100;&#098;&#101;&#114;&#114;&#121;&#064;&#117;&#099;&#105;&#046;&#101;&#100;&#117;">
                &#105;&#099;&#115;&#045;&#099;&#108;&#111;&#117;&#100;&#098;&#101;&#114;&#114;&#121;&#064;&#117;&#099;&#105;&#046;&#101;&#100;&#117;</a></b></p>
        </div>
      </div>
    </div>
  </div>

  <div class = "exception-bar">
    <exception-bar></exception-bar>
  </div>



</div>


}
