@import controllers.TwitterMapApplication.DBType
@(title: String, ws: String, startDate: String, endDate: Option[String], sentimentEnabled: Boolean, sentimentUDF: String, removeSearchBar: Boolean, predefinedKeywords: Seq[String], cacheThreshold: Option[String], querySliceMills: Option[String], isDrugMap: Boolean, sqlDB: DBType.Value)(body: Html)

@import play.api.libs.json.Json

<!DOCTYPE html>
<html ng-app="cloudberry">

<head>
  <title>@title</title>
  <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel='shortcut icon' type='image/png' href='@routes.Assets.versioned("images/berry-icon.png")'>

  <link rel="stylesheet" media="screen" href='@routes.Assets.versioned("lib/bootstrap/css/bootstrap.css")'>
  <link rel="stylesheet" media="screen" href='@routes.Assets.versioned("lib/leaflet/leaflet.css")'>
  <link rel="stylesheet" media="screen" href='@routes.Assets.versioned("lib/dc.js/dc.min.css")'>
  <link rel="stylesheet" media="screen" href='@routes.Assets.versioned("lib/font-awesome/css/font-awesome.min.css")'>
  <link rel="stylesheet" media="screen" href='@routes.Assets.versioned("lib/bootstrap-vertical-tabs/bootstrap.vertical-tabs.min.css")'>
  <link rel="stylesheet" media="screen" href='@routes.Assets.versioned("lib/bootstrap-toggle/css/bootstrap-toggle.min.css")'>
  <link rel='stylesheet' href='@routes.Assets.versioned("stylesheets/main.css")'>

  <script>
    var config= {
      wsURL:"@ws",
      sentimentEnabled: @sentimentEnabled,
      sentimentUDF: "@sentimentUDF",
      startDate: new Date("@startDate"),
      @if(endDate.isDefined) {
        endDate: new Date("@endDate.get"),
      }
      @if(isDrugMap) {
        mapLegend: "$",
        sumText : "dollars",
      } else {
        mapLegend: "Count:",
        sumText : "tweets",
      }
      removeSearchBar: @removeSearchBar,
      predefinedKeywords: @Html(Json.stringify(Json.toJson(predefinedKeywords))),
      @if(cacheThreshold.isDefined) {
        cacheThreshold: @cacheThreshold,
      } else {
        // The default caching threshold value
        cacheThreshold: new String("30000"),
      }
      @if(querySliceMills.isDefined) {
      querySliceMills: @querySliceMills,
      } else {
      // The default query slicing milliseconds value
      querySliceMills: new String("2000")
      }

    }
  </script>
  <script src='@routes.Assets.versioned("lib/angularjs/angular.min.js")'></script>
  <script src='@routes.Assets.versioned("lib/json-bigint/dist/json-bigint.js")'></script>
  <script src='@routes.Assets.versioned("lib/leaflet/leaflet.js")'></script>
  <script src='@routes.Assets.versioned("lib/angular-leaflet-directive/angular-leaflet-directive.js")'></script>
  <script src='@routes.Assets.versioned("lib/jquery/jquery.min.js")'></script>
  <script src='@routes.Assets.versioned("lib/hashmap/hashmap.js")'></script>
  <script src='@routes.Assets.versioned("lib/d3/d3.min.js")'></script>
  <script src='@routes.Assets.versioned("lib/crossfilter/crossfilter.min.js")'></script>
  <script src='@routes.Assets.versioned("lib/dc.js/dc.min.js")'></script>
  <script src='@routes.Assets.versioned("lib/bootstrap/js/bootstrap.min.js")'></script>
  <script src='@routes.Assets.versioned("lib/bootstrap-toggle/js/bootstrap-toggle.min.js")'></script>
  <script src='@routes.Assets.versioned("javascripts/lib/rbush.min.js")'></script>
  <script src='@routes.Assets.versioned("javascripts/lib/turf.min.js")'></script>
  <script src='@routes.Assets.versioned("javascripts/app.js")'></script>
  <script src='@routes.Assets.versioned("javascripts/cache/services.js")'></script>
  <script src='@routes.Assets.versioned("javascripts/mapresultcache/services.js")'></script>
  <script src='@routes.Assets.versioned("javascripts/map/controllers.js")'></script>

  @if(isDrugMap) {
    <script src='@routes.Assets.versioned("javascripts/common/services-drug.js")'></script>
  }
  @sqlDB match {
    case DBType.MySQL => {
      <script src='@routes.Assets.versioned("javascripts/common/services-mysql.js")'></script>
    }
    case DBType.PostgreSQL => {
      <script src='@routes.Assets.versioned("javascripts/common/services-postgresql.js")'></script>
    }
    case _ => {
      <script src='@routes.Assets.versioned("javascripts/common/services.js")'></script>
    }
  }
  <script src='@routes.Assets.versioned("javascripts/timeseries/controllers.js")'></script>
  <script src='@routes.Assets.versioned("javascripts/sidebar/controllers.js")'></script>
  <script src='@routes.Assets.versioned("javascripts/searchbar/controllers.js")'></script>

</head>

<body>
@body
</body>
</html>
