body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  height:100%;
  width:100%;
  position: absolute;
}
.map-group {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

#sidebar {
  position: relative;
  display: block;
  right: 0;
  left: 100%;
  top: 0;
  bottom: 0;
  width: 24%;
  height: 630px;
  overflow: auto;
  margin-left: 0%;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background-color: white;
  opacity: 1.0;
  z-index: 1000;
}

#img1, #img2, #img3 {
  max-width: 100%;
  margin-left: 1px;
}

/* button for showing the sidebar */
.w3-teal {
  position: absolute;
  display: inline-block;
  width: 30px;
  height: 30px;
  left: 97%;
  margin-top: 9px;
}

/* button for hiding the sidebar */
.closebtn {
  font-size: 36px;
  display: inline-block;
  margin-left: 19px;
}

search-bar {
  position: absolute;
  left: 27%;
  top: 2%;
  width: 50%;
}

.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.info h4 {
  margin: 0 0 5px;
  color: #777;
}
.legend {
  line-height: 18px;
  color: #555;
}
.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

.fa {
  position: relative;
  display: table-cell;
  width: 60px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
}

.fa-2x {
  font-size: 2em;
}  

#arrow {
  margin-top: 2px;
}

.col-xs-2{
  padding-left: 0;
  padding-right: 0;
}
.col-xs-10{
  padding-left: 5px;
  padding-right: 5px;
}

#logo_img{
  z-index: 0;
  position: absolute;
  top:2%;
  left:10%;
  width : 15%;
  height: 10%;

}

.btn.btn-info{
  position: relative;
  /*left: 110%;*/
}

#powerby{
  position: absolute;
  bottom: 0%;
  right: 1%;
  /*width: 10%;*/
  z-index: 0;
}

.white {
  color : white;
}

.stats{
  position: absolute;
  bottom: 0;
  pointer-events: none;
  line-height: 1;
  width: 100%;
}

time-series {
  z-index: 1;
  pointer-events: auto;
  position: relative;
  display: inline-block;
  left: 4%;
}

#count-div{
  color: #000000;
  font-weight:500;
  margin-top: 20px;
  margin-bottom: 40px;
  padding-left: 10px;
  float: left;
}

#count{
  font-size: 32px;
  margin-bottom: 0;
  text-align: right;
}

#count-text{
  font-size: 13px;
}

.normalize p{
  text-align: center;
}

/* style for auto-complete menu item*/
.ui-menu-item{
    color: #66757f;
    font-size: 14px;
    padding-top: 7px; 
}

/* style for auto-complete menu item that has been selected*/
.ui-state-active, .ui-state-active:hover{
    background-color: #E8F5FD !important;
    color: #337ab7 !important;
    border:none !important;
}

.search-keyword-btn{
  background-color: crimson;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.search-keyword-btn:active, .search-keyword-btn:focus, .search-keyword-btn:hover{
  background-color: transparent;
  color: black;
}

.search-keyword-btn-group{
  margin-left: 36%;
  position: relative;
  overflow: hidden;
}
/*For the popup box of tweets in points map*/
.tweet {
  padding: 8px 8px 4px 8px;
  font-size: 12px; }

.tweet-top {
  display: -ms-flexbox;
  display: flex; }

.tweet-user-photo {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  background-size: 32px 32px;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  overflow: hidden;
  background: #e2e2e2; }

.tweet-user-photo img {
  display: none; }

.tweet-body {
  padding-left: 8px;
  line-height: 1.2;
  padding-bottom: 6px; }

.tweet-body .name {
  font-weight: bold;
  color: #3b94d9;
  cursor: pointer; }

.tweet-body .name:hover {
  color: #9266CC; }

.tweet-body .time {
  color: #a7a7a7;
  font-size: 11px; }

.tweet-body .user-info {
  margin-bottom: 2px; }

.tweet-media img {
  width: 100%; }

.tweet-link {
  text-decoration: none;
  color: #3b94d9; }

.tweet-link:hover {
  text-decoration: underline; }

/* button for hiding and showing the timebar */
.slide-up-down {
  position: absolute;
  display: inline-block;
  width: 53px;
  height: 35px;
  bottom : 110px;
  margin-left: 5px;
}

/* For hiding tweets in sidebar in order to avoid blink*/
.twitter-tweet{
  display: none !important;
}

/* For the hashtag trends in sidebar */
.hashtagDiv{
  margin: 8% 0 0 0;
}


.hashtagEle{
  padding: 3% 0 3% 5%;
  border-bottom:1px solid #ddd;
}

.hashtagChart{
  margin-right: 15%;
  margin-top: 4%;
}

.disableHashtag{
  pointer-events: none;
  color: #555555;
}

#popup-info {
  margin-top: 7%;
  margin-bottom: 5%;
  font: 14px/16px Arial, Helvetica, sans-serif;
}
#popup-statename{
  text-transform:capitalize;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 3%;
}
#popup-count{
  margin-left: 0.5%;
  margin-bottom: 10%;
}

mapchoose {
  position: absolute;
  left: 5%;
  top: 1.5%;
  background-color: white;
  opacity: 0.8;
  border-radius: 10px;
}

mapchoose ul {
  list-style-type: none;
  margin: 0px; 
  padding: 0px;
}

mapchoose li {
  float: left;
  display: inline;
}

mapchoose li #img1, #img2 {
  border-right: 0.5px solid black;
}

.input-group {
  position: relative; 
  overflow: hidden;
  width: 100%;
}
.striped
{
  background-color: #F1F1F1;
}

div[aria-expanded=true] .glyphicon-triangle-right {
    display: none;
}
div[aria-expanded=false] .glyphicon-triangle-bottom {
    display: none;
}

/*These styles are solely for loading animation*/

#loadingAnime {
  display: inline-block;
  position: relative;
  width: 128px;
  height: 64px;
  margin-top: 100%;
  margin-left: 25%;
}

#loadingAnime p{
  margin-top: 65px;
  margin-left: -15px;
  color: #cef;
}

#loadingAnime div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #cef;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #cef transparent transparent transparent;
}
#loadingAnime div:nth-child(1) {
  animation-delay: -0.45s;
}
#loadingAnime div:nth-child(2) {
  animation-delay: -0.3s;
}
#loadingAnime div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}