body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  height:100%;
  width:100%;
  position: absolute;
}
.map-group {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
#sidebar {
  position: relative;
  top: 0;
  bottom: 0;
  left: 96%;
  width: 24%;
  height: 700px;
  overflow: auto;
  margin-left: 0%;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background-color: white;
  opacity: 1.0;
  z-index: 1;
}

#sidebar.toggled {
  margin-left: -20%;
}

search-bar {
  position: absolute;
  left: 27%;
  top: 2%;
  width: 50%;
}

/* style for auto-complete menu item*/
.ui-menu-item{
    color: #66757f;
    font-size: 14px;
    padding-top: 7px; 
}

/* style for auto-complete menu item that has been selected*/
.ui-state-active, .ui-state-active:hover{
    background-color: #E8F5FD !important;
    color: #337ab7 !important;
    border:none !important;
}

.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.info h4 {
  margin: 0 0 5px;
  color: #777;
}
.legend {
  line-height: 18px;
  color: #555;
}
.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

.fa {
  position: relative;
  display: table-cell;
  width: 60px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  font-size:20px;
}

.fa-2x {
  font-size: 2em;
}

.col-xs-2{
  padding-left: 0;
  padding-right: 0;
}
.col-xs-10{
  padding-left: 0;
  padding-right: 0;
}

#logo_img{
  z-index: 0;
  position: absolute;
  top:2%;
  left:10%;
  width : 15%;
  height: 10%;

}

.btn.btn-info{
  position: relative;
  left: 110%;

}

#powerby{
  position: absolute;
  bottom: 0%;
  left: 74%;
  width: 10%;
  z-index: 0;
}

.white {
  color : white;
}

.stats{
  position: absolute;
  bottom: 0;
  pointer-events: none;
  line-height: 1;
  width: 100%;
}

time-series {
  z-index: 1000;
  pointer-events: auto;
  position: relative;
  display: inline-block;
  left: 4%;
}

#count-div{
  color: #000000;
  font-weight:500;
  margin-top: 20px;
  margin-bottom: 40px;
  padding-left: 10px;
  float: left;
}

#count{
  font-size: 32px;
  margin-bottom: 0;
  text-align: right;
}

#count-text{
  font-size: 13px;
}

.normalize p{
  text-align: center;
}

.search-keyword-btn{
  background-color: crimson;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.search-keyword-btn:active, .search-keyword-btn:focus, .search-keyword-btn:hover{
  background-color: transparent;
  color: black;
}

.search-keyword-btn-group{
  margin-left: 36%;
}
/*For the popup box of tweets in points map*/
.tweet {
  padding: 8px 8px 4px 8px;
  font-size: 12px; }

.tweet-top {
  display: -ms-flexbox;
  display: flex; }

.tweet-user-photo {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  background-size: 32px 32px;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  overflow: hidden;
  background: #e2e2e2; }

.tweet-user-photo img {
  display: none; }

.tweet-body {
  padding-left: 8px;
  line-height: 1.2;
  padding-bottom: 6px; }

.tweet-body .name {
  font-weight: bold;
  color: #3b94d9;
  cursor: pointer; }

.tweet-body .name:hover {
  color: #9266CC; }

.tweet-body .time {
  color: #a7a7a7;
  font-size: 11px; }

.tweet-body .user-info {
  margin-bottom: 2px; }

.tweet-media img {
  width: 100%; }

.tweet-link {
  text-decoration: none;
  color: #3b94d9; }

.tweet-link:hover {
  text-decoration: underline; }

/* button for hiding and showing the timebar */
.slide-up-down {
  position: absolute;
  display: inline-block;
  width: 53px;
  height: 35px;
  bottom : 110px;
  margin-left: 5px;
}



