<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <!-- path to your log file, where you want to store logs -->
        <file>logs/test.log</file>
        <append>false</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <logger name="main" level="INFO"/>

    <!-- Off these ones as they are annoying, and anyway we manage configuration ourself -->
    <logger name="io.netty" level="OFF"/>
    <logger name="org.asynchttpclient" level="OFF"/>

    <root level="debug">
        <!--<appender-ref ref="STDOUT"/>-->
        <appender-ref ref="FILE"/>
    </root>
</configuration>