body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.map-group {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
#sidebar {
  position: relative;
  top: 0;
  bottom: 0;
  left: 96%;
  width: 24%;
  height: 700px;
  overflow: auto;
  margin-left: 0%;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background-color: white;
  opacity: 0.9;
}

#sidebar.toggled {
  margin-left: -20%;
}

time-series {
  position: absolute;
  top: 82%;
  left: 15%;
  width: 80%;
  height: 15%;
}

search-bar {
  position: absolute;
  left: 27%;
  top: 2%;
  width: 50%;
}

#how-to{
  position: absolute;
  bottom: 0%;
  left: -11%;
  width: 10%;
  z-index: 0;
}

.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.info h4 {
  margin: 0 0 5px;
  color: #777;
}
.legend {
  line-height: 18px;
  color: #555;
}
.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

.fa {
  position: relative;
  display: table-cell;
  width: 60px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  font-size:20px;
}

.fa-2x {
  font-size: 2em;
}

.col-xs-2{
  padding-left: 0;
  padding-right: 0;
}
.col-xs-10{
  padding-left: 0;
  padding-right: 0;
}

#logo_img{
  z-index: 0;
  position: absolute;
  top:2%;
  left:10%;
  width : 15%;
  height: 10%;

}

.btn.btn-info{
    position: relative;
    left: 110%;

}

#powerby{
           position: absolute;
           bottom: 0%;
           left: 71%;
           width: 10%;
           z-index: 0;
}


.white {
    color : white;
}

