@(title: String)

@main(title){
<div class="container-fluid" id='input' ng-controller="SearchCtrl">
  <form class="navbar-form navbar-middle" id="input-form" ng-submit="search()">
    <div class="form-group" id="input-group">
      <input ng-model="query" class="form-control" id="keyword-textbox" placeholder="keywords">
      <button type="submit" class="btn btn-primary" id="submit-button">Submit</button>
    </div>
  </form>
</div>
<div id='map' ng-controller="MapCtrl"></div>
<div id='time-series' ng-controller="TimeCtrl"></div>
<div id='sidebar'>
  <ul class="nav nav-pills nav-justified ">
    <li role="presentation" class="active"><a href="#hashtag" data-toggle="pill">Hashtag</a></li>
    <li role="presentation"><a href="#tweet" data-toggle="pill">Tweets</a></li>
    <li role="presentation"><a href="#aql" data-toggle="pill">AQL</a></li>
  </ul>
  <div class="tab-content">
    <div id="hashtag" class="tab-pane active">
      <table class="table" id="hashcount">
        <thead>
          <tr>
            <th>Hashtag</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
    <div id="tweet" class="tab-pane">
      <table class="table" id="tweets">
        <thead>
          <tr>
            <th>Tweets</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
    <div id="aql" class="tab-pane">
      <table class="table" id="aqls">
        <thead>
          <tr>
            <th>AQL</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</div>
}
