@(title: String)

@main(title){
<div class="container">
  <div class="container" id='input' ng-controller="SearchCtrl">
    <form novalidate class="form-horizontal" ng-submit="search()">
      <div class="control-group">
        <label class="control-label">Keywords</label>
        <div class="controls">
          <input type="text" ng-model="query" required/>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">TimeRange</label>
        <div class="controls">
          <input type="date" ng-model="time.start" placeholder="yyyy-MM-dd"/>
          <input type="date" ng-model="time.end" placeholder="yyyy-MM-dd"/>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">Area</label>
        <div class="controls">
          <input type="number" ng-model="area.lbLat" placeholder="left bottom latitude"/>
          <input type="number" ng-model="area.lbLog" placeholder="left bottom longitude"/>
          <input type="number" ng-model="area.rtLat" placeholder="right top latitude"/>
          <input type="number" ng-model="area.rtLog" placeholder="right top longitude"/>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">Level</label>
        <div class="controls">
          <label class="col-xs-2"><input type="radio" ng-model="level" value="state"> State</label>
          <label class="col-xs-2"><input type="radio" ng-model="level" value="county"> County </label>
          <label class="col-xs-2"><input type="radio" ng-model="level" value="city"> City</label>
        </div>
      </div>
      <div class="control-group">
        <button type="submit" class="btn btn-primary" id="submit-button">Submit</button>
      </div>
    </form>
  <pre>
    keyword:{{query}} <br/>
    time: {{time.start | date: "yyyy-MM-dd" }} {{time.end   | date: "yyyy-MM-dd" }} <br/>
    area : {{ area | json }} <br/>
    level : {{ level }} <br/>
  </pre>
  </div>

  <div class="container" ng-controller="MapCtrl">
    spatial:
    <ul>
      <li ng-repeat="(k,v) in result">{{k}}: {{v}}</li>
    </ul>
  </div>

  <div class="container" ng-controller="TimeCtrl">
    time:
    <ul>
      <li ng-repeat="(k,v) in result">{{k}}: {{v}}</li>
    </ul>
  </div>

</div>
}
